{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Player{% endblock %}

{% block body_block %}

<script>
$(document).ready(function(){
$(function(){
$("#mytable22").tablesorter(
{theme : 'bootstrap',}
);
});





});
</script>
           
      
        
        
        <div class="row">
		
    	 
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">
                    <h2>{{ player.namefirst }} {{ player.namelast }}</h2>
                    <p><strong>Born: </strong> {{ player.birthmonth }}/{{ player.birthday }}/{{ player.birthyear }} in {{ player.birthcity }}, {{ player.birthstate }} </p>
                    <p><strong>Height: </strong> {{ player.readheight }} </p>
                    <p><strong>Weight: </strong> {{ player.weight }} lbs</p>
                    <p><strong>Throws: </strong> {{ player.throws }}</p>
                    <p><strong>Bats: </strong> {{ player.bats }}</p>
                                        </div>             
                <div class="col-xs-12 col-sm-4 text-center">
                    <figure>
                    	
                    	{% if player.image %}
                    	<img src="{{ MEDIA_URL }}{{ player.image }}" alt="" class="img-responsive">
                        
                       {% else %}
                       <img src="{{ MEDIA_URL }}profile/default.jpg" alt="" class="img-responsive">
                       {% endif %}
                        
                    </figure>
                </div>
                        
                	                 
		</div>
	</div>

        
        
        <!--new-->
        <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                        	{% if battinglines %}
   								<li class="active"><a data-toggle="tab" href="#sectionA">Batting</a></li>
   							{% endif %}
   							{% if pitchinglines %}	
    							<li><a data-toggle="tab" href="#sectionB">Pitching</a></li>
    						{% endif %}
    						{% if fieldinglines %}	
    							<li><a data-toggle="tab" href="#sectionC">Fielding</a></li>
    						{% endif %}
    						{% if battingpostlines %}	
    							<li><a data-toggle="tab" href="#sectionD">Batting Postseason</a></li>
    						{% endif %}
    						{% if pitchingpostlines %}	
    							<li><a data-toggle="tab" href="#sectionE">Pitching Postseason</a></li>
    						{% endif %}
    						{% if fieldingpostlines %}	
    							<li><a data-toggle="tab" href="#sectionF">Fielding Postseason</a></li>
    						{% endif %}				
                            
                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="sectionA">
                        
                        {% if battinglines %}
        
        					<table id = "mytable" class="table table-striped">
        						<thead>
        						<tr>
					        		<th>Year</th>
					        		<th>Team</th>
					        		<th>AB</th>
					        		<th>R</th>
					        		<th>H</th>
					        		<th>2B</th>
					        		<th>3B</th>
					        		<th>HR</th>
					        		<th>RBI</th>
					        		<th>SB</th>
					        		<th>CS</th>
					        		<th>BB</th>
					        		<th>SO</th>
					        		<th>IBB</th>
					        		<th>HBP</th>
					        		<th>SH</th>
					        		<th>SF</th>
					        		<th>GIDP</th>
					        		<th>AVG</th>
					        		<th>SLG</th>
					        		<th>OBP</th>
					        		<th>OPS</th>
					        	</tr>
					        	</thead>
					        	<tbody>
					        	{% for line in battinglines %}
					        	
					        	<tr>
					        		<td>{{line.yearid}}</td>
					        		{% if line.teamlogo  %}
					        		    <td><img class = "smallteam" src="{{ MEDIA_URL }}{{ line.teamlogo }}" alt=""></td>
					        		{% else %}
					        		    <td>{{line.teamid}}</td>
					        		{% endif %}
					        		<td>{{line.ab}}</td>
					        		<td>{{line.r}}</td>
					        		<td>{{line.h}}</td>
					        		<td>{{line.number_2b}}</td>
					        		<td>{{line.number_3b}}</td>
					        		<td>{{line.hr}}</td>
					        		<td>{{line.rbi}}</td>
					        		<td>{{line.sb}}</td>
					        		<td>{{line.cs}}</td>
					        		<td>{{line.bb}}</td>
					        		<td>{{line.so}}</td>
					        		<td>{{line.ibb}}</td>
					        		<td>{{line.hbp}}</td>
					        		<td>{{line.sh}}</td>
					        		<td>{{line.sf}}</td>
					        		<td>{{line.gidp}}</td>
					        		<td>{{line.ba}}</td>
					        		<td>{{line.slg}}</td>
					        		<td>{{line.obp}}</td>
					        		<td>{{line.ops}}</td>
        						</tr>
        						
        				{% endfor %}
        				</tbody>
        			</table>	
        
                      
       			 {% endif %}
                        
                        
           		</div>
            	<div class="tab-pane fade" id="sectionB">
             	{% if pitchinglines %}
        			<table class="table table-striped">
        				<tr>
			        		<th>Year</th>
			        		<th>Team</th>
			        		<th>W</th>
			        		<th>L</th>
			        		<th>G</th>
			        		<th>GS</th>
			        		<th>CG</th>
			        		<th>SHO</th>
			        		<th>SV</th>
			        		<th>IPOUTS</th>
			        		<th>H</th>
			        		<th>ER</th>
			        		<th>HR</th>
			        		<th>BB</th>
			        		<th>SO</th>
			        		<th>BAOPP</th>
			        		<th>ERA</th>
			        		<th>IBB</th>
			        		<th>GIDP</th>
			        	</tr>
					{% for line in pitchinglines %}
					
						<tr>
			        		<td>{{line.yearid}}</td>
			        		<td>{{line.teamid}}</td>
			        		<td>{{line.w}}</td>
			        		<td>{{line.l}}</td>
			        		<td>{{line.g}}</td>
			        		<td>{{line.gs}}</td>
			        		<td>{{line.cg}}</td>
			        		<td>{{line.sho}}</td>
			        		<td>{{line.sv}}</td>
			        		<td>{{line.ipouts}}</td>
			        		<td>{{line.h}}</td>
			        		<td>{{line.er}}</td>
			        		<td>{{line.hr}}</td>
			        		<td>{{line.bb}}</td>
			        		<td>{{line.so}}</td>
			        		<td>{{line.baopp}}</td>
			        		<td>{{line.era}}</td>
			        		<td>{{line.ibb}}</td>
			        		<td>{{line.gidp}}</td>
        				</tr>
        			{% endfor %}
        		</table>
       	 {% endif %}	
      </div>
      
      <div class="tab-pane fade" id="sectionC">
             	{% if fieldinglines %}
        			<table class="table table-striped">
        				<tr>
			        		<th>Year</th>
			        		<th>Team</th>
			        		<th>POS</th>
			        		<th>G</th>
			        		<th>GS</th>
			        		<th>InnOuts</th>
			        		<th>PO</th>
			        		<th>A</th>
			        		<th>E</th>
			        		<th>DP</th>
			        		<th>PB</th>
			        		<th>WP</th>
			        		<th>SB</th>
			        		<th>CS</th>
			        		<th>ZR</th>
			        		
			        	</tr>
					{% for line in fieldinglines %}
					
						<tr>
			        		<td>{{line.yearid}}</td>
			        		<td>{{line.teamid}}</td>
			        		<td>{{line.pos}}</td>
			        		<td>{{line.g}}</td>
			        		<td>{{line.gs}}</td>
			        		<td>{{line.innouts}}</td>
			        		<td>{{line.po}}</td>
			        		<td>{{line.a}}</td>
			        		<td>{{line.e}}</td>
			        		<td>{{line.dp}}</td>
			        		<td>{{line.pb}}</td>
			        		<td>{{line.wp}}</td>
			        		<td>{{line.sb}}</td>
			        		<td>{{line.cs}}</td>
			        		<td>{{line.zr}}</td>
			        		
        				</tr>
        			{% endfor %}
        		</table>
       	 {% endif %}	
      </div>
      <div class="tab-pane fade" id="sectionD">
             	{% if battingpostlines %}
        			<table class="table table-striped">
        				<tr>
			        		<th>Year</th>
			        		<th>Round</th>
			        		<th>Team</th>
			        		<th>G</th>
			        		<th>AB</th>
			        		<th>R</th>
			        		<th>H</th>
			        		<th>2B</th>
			        		<th>3B</th>
			        		<th>HR</th>
			        		<th>RBI</th>
			        		<th>SB</th>
			        		<th>CS</th>
			        		<th>BB</th>
			        		<th>SO</th>
			        		<th>IBB</th>
			        		<th>HBP</th>
			        		<th>SH</th>
			        		<th>GIDP</th>
			        		<th>AVG</th>
					        <th>SLG</th>
					        <th>OBP</th>
					        <th>OPS</th>
			        		
			        	</tr>
					{% for line in battingpostlines %}
					
						<tr>
			        		<td>{{line.yearid}}</td>
			        		<td>{{line.round}}</td>
			        		<td>{{line.teamid}}</td>
			        		<td>{{line.g}}</td>
			        		<td>{{line.ab}}</td>
			        		<td>{{line.r}}</td>
			        		<td>{{line.h}}</td>
			        		<td>{{line.number_2b}}</td>
			        		<td>{{line.number_3b}}</td>
			        		<td>{{line.hr}}</td>
			        		<td>{{line.rbi}}</td>
			        		<td>{{line.sb}}</td>
			        		<td>{{line.cs}}</td>
			        		<td>{{line.bb}}</td>
			        		<td>{{line.so}}</td>
			        		<td>{{line.ibb}}</td>
			        		<td>{{line.hbp}}</td>
			        		<td>{{line.sh}}</td>
			        		<td>{{line.gidp}}</td>
			        		<td>{{line.ba}}</td>
					        <td>{{line.slg}}</td>
					        <td>{{line.obp}}</td>
					        <td>{{line.ops}}</td>
			        		
			        		
        				</tr>
        			{% endfor %}
        		</table>
       	 {% endif %}	
      </div>
      <div class="tab-pane fade" id="sectionE">
             	{% if pitchingpostlines %}
        			<table class="table table-striped">
        				<tr>
			        		<th>Year</th>
			        		<th>Round</th>
			        		<th>Team</th>
			        		<th>W</th>
			        		<th>L</th>
			        		<th>G</th>
			        		<th>GS</th>
			        		<th>CG</th>
			        		<th>SHO</th>
			        		<th>SV</th>
			        		<th>IPOUTS</th>
			        		<th>H</th>
			        		<th>ER</th>
			        		<th>HR</th>
			        		<th>BB</th>
			        		<th>SO</th>
			        		<th>BAOPP</th>
			        		<th>ERA</th>
			        		<th>IBB</th>
			        		<th>GIDP</th>
			        	</tr>
					{% for line in pitchingpostlines %}
					
						<tr>
			        		<td>{{line.yearid}}</td>
			        		<td>{{line.round}}</td>
			        		<td>{{line.teamid}}</td>
			        		<td>{{line.w}}</td>
			        		<td>{{line.l}}</td>
			        		<td>{{line.g}}</td>
			        		<td>{{line.gs}}</td>
			        		<td>{{line.cg}}</td>
			        		<td>{{line.sho}}</td>
			        		<td>{{line.sv}}</td>
			        		<td>{{line.ipouts}}</td>
			        		<td>{{line.h}}</td>
			        		<td>{{line.er}}</td>
			        		<td>{{line.hr}}</td>
			        		<td>{{line.bb}}</td>
			        		<td>{{line.so}}</td>
			        		<td>{{line.baopp}}</td>
			        		<td>{{line.era}}</td>
			        		<td>{{line.ibb}}</td>
			        		<td>{{line.gidp}}</td>
        				</tr>

        			{% endfor %}
        		</table>
       	 {% endif %}	
      </div>
      <div class="tab-pane fade" id="sectionF">
             	{% if fieldingpostlines %}
        			<table class="table table-striped">
        				 
        				
        				<tr>
			        		<th>Year</th>
			        		<th>Round</th>
			        		<th>Team</th>
			        		<th>POS</th>
			        		<th>G</th>
			        		<th>GS</th>
			        		<th>InnOuts</th>
			        		<th>PO</th>
			        		<th>A</th>
			        		<th>E</th>
			        		<th>DP</th>
			        		<th>PB</th>
			        		<th>TP</th>
			        		<th>SB</th>
			        		<th>CS</th>
			        		
			        		
			        	</tr>
					{% for line in fieldingpostlines %}
					
						<tr>
			        		<td>{{line.yearid}}</td>
			        		<td>{{line.round}}</td>
			        		<td>{{line.teamid}}</td>
			        		<td>{{line.pos}}</td>
			        		<td>{{line.g}}</td>
			        		<td>{{line.gs}}</td>
			        		<td>{{line.innouts}}</td>
			        		<td>{{line.po}}</td>
			        		<td>{{line.a}}</td>
			        		<td>{{line.e}}</td>
			        		<td>{{line.dp}}</td>
			        		<td>{{line.pb}}</td>
			        		<td>{{line.tp}}</td>
			        		<td>{{line.sb}}</td>
			        		<td>{{line.cs}}</td>
			        		
			        		
        				</tr>

        			{% endfor %}
        		</table>
       	 {% endif %}	
      </div>




</div>
</div>
</div>
     
        <!--end new-->


    
   
	
  

{% endblock %} 