{% extends 'base.html' %}

{% load staticfiles %}


{% block title %}SABRtooth{% endblock %}


{% block body_block %}


	<script>
    	$(function() {
  			$("#players").autocomplete({
    			source: "/sabr/api/get_players/",
    			minLength: 2,
    			select: function( event, ui ) { 
            		window.location.href = ui.item.value;
        		}
 			 });
		});
		
		$(function() {
  			$("#playersBig").autocomplete({
    			source: "/sabr/api/get_players/",
    			minLength: 2,
    			select: function( event, ui ) { 
            		window.location.href = ui.item.value;
        		}
 			 });
		});
    </script>


    
    
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Baseball Stats!</h1>
        <p>Project SABRtooth is all about making complicated baseball Sabermetrics easy to search and explore.  To get started, search for a player below.</p>
        <p>
        <div class="ui-widget">
  			<label for="players"></label>
  			<input class="form-control input-lg" type="text" id="playersBig" placeholder="Enter Player Name...">
		</div>
		</p>
      </div>
    </div>
    
    
{% endblock %}       